<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'plugins/bower_components/chartist/dist/chartist.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css' %}">
    <link href="{% static 'css/style.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    <title></title>
</head>
<body>
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <div id="main">
        <div id="root"></div>
    </div>
    <script src="{% static 'plugins/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'js/app-style-switcher.js' %}"></script>
    <script src="{% static 'plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/waves.js' %}"></script>
    <script src="{% static 'js/sidebarmenu.js' %}"></script>

    <script src="{% static 'js/custom.js' %}"></script>

    {% comment %} <script src="{% static "plugins/bower_components/chartist/dist/chartist.min.js" %}"></script>
    <script src="{% static 'plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js' %}"></script> {% endcomment %}
    {% comment %} <script src="{% static 'js/pages/dashboards/dashboard1.js'%}"></script> {% endcomment %}
    <script src="{% static 'js/main.js'%}"></script>
</body>
</html>